* {
    font-family: "Rubik";
}

.headerBlock {
    width: 100%;
}

.headerBlock .row {
    padding: 0 80px;
}

.logo {
    margin-top: 20px;
}

.logo img {
    width: auto;
    height: 40px;
    margin: auto 0;
}

.logo p {
    color: #ffffff;
    font-size: 25px;
    margin: auto 0 auto 15px;
    line-height: 40px;
}

.phones {
    margin-top: 20px;
}

.phoneNumber {
    margin: 0;
    line-height: 24px;
}

.phoneNumber a {
    margin-left: 12px;
    font-size: 16px;
    color: white;
}

.phoneNumber a:hover {
    outline: none;
    text-decoration: none;
}

.phoneNumber:before {
    content: "";
    background-image: url("./../img/call-answer-white.png");
    background-size: 100%;
    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
    top: 5px;
}

.callBack {
    margin: auto 0;
}

.callBack button{
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 20px;
    /*margin: auto 0;*/
    padding: 9px;
    font-size: 20px;
    transition: 0.5s;
}

.callBack button:hover {
    background-color: #f13333;
    /*color: #f13333;*/
    border-color: #f13333;
    transition: 0.5s;
}

.headerLinksList {
    margin-top: 40px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.headerLinksList li{
    list-style-type: none;
    margin: 0 25px;
    /*display: inline-block;*/
    font-size: 18px;
    padding: 10px 10px;
    border: 0;
    background-color: rgba(0,0,0,0);
    transition: 0.5s;
}

.headerLinksList li:hover {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0.5s;
}

.headerLinksList li a {
    color: white;
}

.headerLinksList li a:hover {
    text-decoration: none;
}

.infoAboutPage {
    text-align: center;
}