* {
    font-family: "Myriad", sans-serif;
}

.headerBlock {
    width: 100%;
    display: block;
}

.burgerMenuBlock {
    display: none;
}

.logo a{
    display: flex;
    text-decoration: none;
    outline: none;
}

.logo a img {
    width: auto;
    height: 70px;
    margin: auto 0;
}

.logo a p {
    color: #ffffff;
    font-size: 38px;
    margin: auto 0 auto 15px;
}

.phones {
    margin-top: 20px;
    margin-right: 150px;
}

.phoneNumber {
    margin: 0;
    line-height: 24px;
}

.phoneNumber a {
    margin-left: 12px;
    font-size: 16px;
    color: white;
}

.phoneNumber a:hover {
    outline: none;
    text-decoration: none;
    color: #d97000;
}

.phoneNumber:before {
    content: "";
    background-image: url("../media/imgs/call-answer-white.png");
    background-size: 100%;
    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
    top: 5px;
}

.callBack {
    margin: auto 0;
}

.callBack button{
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 20px;
    /*margin: auto 0;*/
    padding: 9px;
    font-size: 20px;
    transition: 0.5s;
}

.callBack button:hover {
    /*background-color: #f13333;*/
    color: #d97000;
    border-color: #d97000;
    transition: 0.5s;
}

.headerLinksList {
    margin-top: 40px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.headerLinksList li{
    list-style-type: none;
    margin: 0 60px;
    font-size: 18px;
    border-top: 2px solid rgba(0,0,0,0);
    border-bottom: 2px solid rgba(0,0,0,0);
    padding: 10px 10px;
    background-color: rgba(0,0,0,0);
    transition: 0.5s;
}

.headerLinksList li:hover {
    border-top: 2px solid #d97000;
    border-bottom: 2px solid #d97000;
    transition: 0.5s;
}

.headerLinksList li a {
    color: white;
    transition: 0.5s;
}

.headerLinksList li:hover a {
    text-decoration: none;
    color: #d97000;
    transition: 0.5s;
}

.infoAboutPage {
    text-align: center;
}

@media (max-width: 1300px) {
    .phones {
        margin-right: 0;
    }
    .callBack {
        display: none;
    }
}

@media (max-width: 1200px) {
    .phones {
        margin-right: 0;
    }
    .callBack {
        display: none;
    }
}

@media (max-width: 1050px) {
    .headerBlock {
        display: none;
    }

    .burgerMenuBlock {
        display: flex;
        background-color: #d97000;
        margin: 0;
        padding: 0;
    }
    .bm-burger-button {
        margin-top: 20px;
        margin-left: 40px;
        width: 35px;
        height: 35px;
    }
    .bm-cross-button {
        width: 35px ;
        height: 35px;
    }

    .bm-item-list {
        background-color: #d97000;
        padding-top: 35px;
        padding-left: 20px;
    }

    .bm-burger-button button {
        margin-top: 15px!important;
        margin-left: 35px!important;
        width: 45px !important;
        height: 45px !important;
    }

    .bm-item{
        font-family: 'Rubik', sans-serif;
        font-weight: 100;
        outline: none;
        text-decoration: none;
        font-size: 20px;
        line-height: 22px;
        color: white;
        margin-top: 10px;
    }

    .bm-item:hover {
        text-decoration: none;
        outline: none;
        color: white;
    }

    .logo {
        text-align: center;
        width: 100%;
    }

    .logo img {
        margin-top: 20px;
        width: 60px;
        height: auto;
        margin-bottom: 15px;
    }

    .logo p {
        display: block;
        margin-bottom: 10px;
    }
}

